.big-button {
  background-color: transparent;
  border: 1px solid $mongoose;
  cursor: pointer;
  padding: 0.8vw 2.2vw;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.6vw;
  box-shadow: inset 0 0 0 0 $mongoose;
  transition: all ease 0.8s;
}

.big-button:hover {
  box-shadow: inset 250px 0 0 0 $mongoose;
  color: white;
}
