.story:after {
  content: none;
}

.story-wrap {
  width: 70%;
  margin: 60px auto;
  font-family: $font-family-vollkorn;
  font-size: 0.8em;
  height: auto;
  text-align: left;
  position: relative;
  margin-bottom: 0;
}

.story-image {
  width: 50%;
  display: inline-block;
  background-image: url('../images/index/story.png');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
.story-image:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.story-text {
  display: inline-block;
  color: #999;
  width: 35%;
  vertical-align: top;
  padding: 20px 40px;
  font-size: 0.95em;
}
.story-first-character {
  float: left;
  color: black;
  font-size: 4.6em;
  line-height: 42px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 3px;
}

.story-block {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 14%;
}
.story-block-image-wrap {
  height: 50%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1;
}
.story-block-image {
  width: 50%;
}
.story-block-text {
  height: 50%;
  color: #999;
  padding: 15px 15px;
  font-size: 0.8em;
}
