.featured {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid $gray-nurse;
}

.featured-header {
  margin: 60px auto;
}

.featured-title {
  letter-spacing: 2.5px;
  font-size: 1.5vw;
  font-weight: 500;
  margin: 20px auto;
}

.featured-desc {
  font-family: $font-family-vollkorn;
  font-style: italic;
  color: #999;
  width: 60%;
  margin: 0 auto;
  letter-spacing: 1px;
  font-size: 1vw;
}

.featured-left, .featured-right {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  height: 600px;
  margin-bottom: 100px;
}

%featured-boxes-tall {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 58%;
}

%featured-boxes-short {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 42%;
}

.featured-jackets {
  @extend %featured-boxes-short;
  background-color: $mystic;
  margin-bottom: 5px;
}

.featured-backpacks {
  @extend %featured-boxes-tall;
  background-color: $wild-sand;
  margin-bottom: 5px;
}

.featured-shirts {
  @extend %featured-boxes-tall;
  background-color: $hint-of-red;
}

.featured-pants {
  @extend %featured-boxes-short;
  background-color: $mystic;
}

.featured-text-wrap {
  position: absolute;
  top: 12%;
  left: 7%;
  text-align: left;
  font-family: $font-family-vollkorn;
}

.featured-text-title {
  margin-bottom: 1px;
  font-size: 1.1em;
  font-weight: normal;
}

.featured-text-link {
  font-weight: 400;
  font-size: 0.8em;
  cursor: pointer;
  color: #999;
}

.featured-jacket {
  width: 100%;
  height: 90%;
  background-image: url('../images/index/featured-jacket.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  bottom: 0;
}

.featured-backpack {
  width: 100%;
  height: 65%;
  background-image: url('../images/index/featured-backpack.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.featured-shirt {
  width: 100%;
  height: 80%;
  background-image: url('../images/index/featured-shirt.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 85% center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.featured-pants2 {
  width: 100%;
  height: 80%;
  background-image: url('../images/index/featured-pants.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 65% center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
